<% layout('layouts/boilerplate') %>

    <% allNodes.sort((a,b)=> a.entry - b.entry) %>
        <h1 class="text-center mt-3 mb-5 align-self-center">
            <span class="border border-5 rounded-pill px-3 py-0"> <span class="text-primary">
                    <%=" "+topic.substring(0,1).toUpperCase()+topic.substring(1)+" "%>
                </span> Nodes</span>
        </h1>
        <div class=" row align-items-center mx-3 border border-5">

                        <div class="col-8">
                            <ul class="list-group">
                                <% for (let n of allNodes) {%>
                                    <li class="list-group-item list-group-item-action px-0">
                                        <div class="row justify-content-evenly">
                                            <a class="col-2 btn btn-primary mb-1" href="/nodes?topic=<%=n.topic%>">
                                                <%=n.topic%>
                                            </a> <a class="col-1 btn rounded-pill text-white bg-black"
                                                href="/nodes/<%=n._id%>">
                                                <%=n.entry%>
                                            </a> <a class="col-6 btn rounded-pill text-white bg-secondary"
                                                href="/nodes/<%=n._id%>">
                                                <%=n.data.substring(0,20)+" ..." %>
                                            </a>
                                        </div>
                                    </li>
                                    <% } %>
                                        <% if (topic !=="all" ) {%>
                                            <li class="list-group-item list-group-item-action">
                                                <div class="row justify-content-center">
                                                    <a class="col-2 btn btn-warning mb-1" href="/nodes">View all</a>
                                                </div>
                                            </li>
                                            <% } %>
                            </ul>

                        </div>
                        <div class="col-4">
                            <div class="row align-items-center">
                                <div class="col-3">
                                </div>
                                <a class="col-6 shadow btn btn-lg btn-success" href="/nodes/new">Create new</a>
                                <div class="col-3">
                                </div>

                            </div>
                        </div>

                        </div>