<% layout('layouts/boilerplate') %>

    <h1>
        <%=topic.substring(0,1).toUpperCase()+topic.substring(1) %> Nodes
    </h1>
    <ul>
        <% for (let n of allNodes) {%>
            <li>
                <a href="/nodes?topic=<%=n.topic%>">
                    <%=n.topic%>
                </a> : <a href="/nodes/<%=n._id%>">
                    <%=n.entry%> : <%=n.data.substring(0,15)+"..."%>
                </a>

            </li>
            <% } %>
    </ul>
    <h3><a href="/nodes/new">Create new</a></h3>
    <% if (topic !=="all" ) {%>
        <h3><a href="/nodes">View all</a></h3>
        <% } %>