<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>
        <%= getNode.topic %> : <%= getNode.entry %>
    </h1>
    <form action=""><label for="data">Current data: </label>
        <textarea name="data" id="data" cols="30" rows="8" disabled><%= getNode.data %> </textarea>
    </form>
    <form style="display: inline-block;" action="/nodes/<%= getNode._id%>?_method=PUT" method="post">
        <label for="data">Enter updated data: </label>
        <textarea name="data" id="data" cols="30" rows="8" placeholder="type here.."
            required="Text is required."></textarea>
        <br>
        <hr>
        <button>Confirm</button>
    </form>

    <form style="display: inline-block;" action="/nodes/<%=getNode._id  %> ">
        <button>Cancel</button>
    </form>
</body>

</html>