<% layout('layouts/boilerplate') %>

    <h1 class="text-center">
        <%= getNode.topic %> : <%= getNode.entry %>
    </h1>
    <div class="col-6 offset-3">

        <form action="">
            <label class="form-label" for="data">Current data: </label>
            <textarea class="form-control" name="data" id="data" cols="30" rows="6"
                disabled><%= getNode.data %> </textarea>
        </form>
        <form class="d-inline" action="/nodes/<%= getNode._id%>?_method=PUT" method="post">
            <label class="form-label" for="data">Enter updated data: </label>
            <textarea class="form-control" name="data" id="data" cols="30" rows="6"
                required="Text is required."><%= getNode.data %></textarea>
            <hr>
            <% getNode.date=Date.now() %>
                <button class="btn btn-primary">Confirm</button>
        </form>

        <a href="/nodes/<%=getNode._id  %> " class="btn btn-warning">Cancel</a>
    </div>