<% layout('layouts/boilerplate') %>

    <h1>
        <%= getNode.topic %> : <%= getNode.entry %>
    </h1>
    <p>
        <%= getNode.data %>
    </p>
    <i>
        id: <%=getNode._id %>
    </i>
    <br>
    <hr>
    <form style="display: inline-block;" action="/nodes">
        <button>Back</button>
    </form>
    <form style="display: inline-block;" action="/nodes/<%=getNode._id%>/edit">
        <button>EDIT</button>
    </form>
    <form action="/nodes/<%= getNode._id  %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>